body {
    font-family: Arial;
    background: #111;
    color: white;
    padding: 20px;
}

#viewerContainer {
    height: 700px;
    overflow-y: scroll;
    border: 1px solid #555;
    padding: 10px;
    background: #222;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #333;
}

#fontTable {
    width: 100%;
    border-collapse: collapse;
}

#fontTable th, #fontTable td {
    padding: 8px;
    border: 1px solid #444;
}

#fontTable tr:hover {
    background: #333;
    cursor: pointer;
}